$title: @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Montserrat&display=swap');

$primaryFont: @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

$heading: @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Marck+Script&family=Montserrat&display=swap');
