@import "./vendor/normailize";
@import "./partials/typography";
@import "./partials/colors";
@import "./partials/mixins";
[hidden] {
    display: none;
  }
  
  a {
    text-decoration: none;
    padding: 0 20px;
    font: "Dosis", sans-serif;
    color: white;
  }

  a:hover{
    color: purple;
  }
  
  li {
    display: inline;
    float: left;
    list-style-type: none;
  }
  
  .thePlace {
    text-decoration: underline;
    -webkit-text-decoration-color: purple;
            text-decoration-color: purple;
    float: left;
    line-height: 50px;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    font-family: "Dosis", sans-serif;
  }
  
  .me {
    border-radius: 50%;
    border-style: solid;
    border-color: purple;
  }
  
  ul li {
    list-style: none;
    float: right;
    line-height: 100px;
  }
  
  ul li a {
    text-decoration: none;
    font-size: 15px;
    font-family: "Dosis", sans-serif;
    color: white;
    display: block;
    text-transform: uppercase;
    max-width: 100%;
    border-radius: 70px;
  }
  
  ul li a:hover {
    text-decoration: underline;
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    background-color: #150300;
    font-size: 17px;
  }
  
  .nav {
    background-color: black;
    width: 100%;
    height: 50px;
    padding-bottom: 0px;
  }
  
  .title {
    text-align: center;
    float: center;
    margin: 0 0 0 50px;
    position: relative;
    top: 100px;
    width: 50%;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: purple;
    padding-bottom: 60px;
    padding-top: 0px;
  }
  
  .header {
    text-align: center;
    float: left;
    margin: 0 0 0 50px;
    position: relative;
    top: 100px;
    width: 50%;
    font-family: "Marck Script", cursive;
    font-size: 30px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: purple;
  }
  
  .paragraph1 {
    text-align: left;
    float: left;
    margin: 0 0 0 50px;
    position: relative;
    top: 150px;
    right: 50px;
    left: 15px;
    max-width: 50%;
    font-family: "Dosis", sans-serif;
    color: rgb(187, 248, 203);
    font-size: 15px;
  }
  
  .wrapper {
    float: right;
    margin: 0 50px;
    max-width: 50%;
    position: absolute;
    top: 300px;
    right: 25px;
  }
  
  figcaption {
    font-family: "Dosis", sans-serif;
    color: #575757;
  }
  
  aside {
    display: inline-block;
    text-align: center;
    position: fixed;
    top: 670px;
    right: 700px;
    line-height: 50px;
    height: 50px;
    font-family: "Dosis", sans-serif;
    color: #575757;
    text-decoration: none;
    position: fixed;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    background-color: black;
  }
  
  .column {
    flex: 25%;
    max-width: 70%;
    padding: 0 8px;
  }
  
  .column img{
    margin-top: 8px;
    vertical-align: middle;
    max-width: 100%;
  }

  .dreamOne{
    font-family: "Dosis", sans-serif;
    margin-top: 90px;
    text-align: center;
    color: white;
    text-decoration-color: white;
  }

  .dreamTwo{
    font-family: "Dosis", sans-serif;
    text-align: center;
  }

  .dreamThree{
    font-family: "Dosis", sans-serif;
    text-align: center;
  }

  .dreamFour{
    font-family: "Dosis", sans-serif;
    text-align: center;
  }

  .illPhotos{
    margin-top: 20px;
    padding-top: 10px;
    align-content: center;
  }

  .illOne{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .illTwo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


  .illThree{
    background-color: grey;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    align-content: center;
  }
  
  @media screen and (max-width: 800px) {
    .column{
      flex: 50%;
      max-width: 50%;
      background-color: #150300;
    }
  }
  
  footer {
    float: left;
    position: absolute;
    top: 700px;
    background-color: black;
    font-family: "Dosis", sans-serif;
    color: #DB8D33;
    text-align: center;
    width: 100%;
    line-height: 50px;
    height: 50px;
  }
  
  body {
    background-color: rgb(0, 0, 0);
  }