@import "./vendor/normailize";
@import "./partials/typography";
@import "./partials/colors";
@import "./partials/mixins";
a{
    text-decoration: none;
    padding: 0 20px;
    font: $primaryFont;
}


li{
    display: inline;
    float: left;
    list-style-type: none;
}

.thePlace{
    text-decoration: underline;
    text-decoration-color: $secondary-font-color;
    float: left;
    line-height: 100px;
    color: $secondary-font-color;
    text-transform: uppercase;
    font-size: 15px;
    font-family: $primaryFont;
}

ul li{
    list-style: none;
    float: right;
    line-height: 100px;
}

ul li a{
    text-decoration: none;
    font-size: 15px;
    font-family: $primaryFont;
    color: $secondary-font-color;
    display: block;
    text-transform: uppercase;
    max-width: 100%;
    border-radius: 20px;
}

ul li a:hover{
    @include  Hover
}

.nav {
    background-color: $navBackground;
    width: 100%;
    height: 100px;
}

.title{
    text-align: center;
    float: left;
    margin: 0 0 0 50px;
    position: relative;
    top: 100px;
    width: 50%;
    font-family: $title;
    font-size: 30px;
    color: $primary-font-color;
}

.header{
    text-align: center;
    float: left;
    margin: 0 0 0 50px;
    position: relative;
    top: 100px;
    width: 50%;
    font-family: $header;
    font-size: 30px;
    color: purple;
}

.paragraph1{
    text-align: center;
    float: left;
    margin: 0 0 0 50px;
    position: relative;
    top: 150px;
    right: 50px;
    max-width: 50%;
    font-family: $primaryFont;
    color: purple;
    font-size: 15px;
}

.wrapper{
    float: right;
    margin: 0 50px;
    max-width: 50%;
    position: absolute;
    top: 300px;
    right: 25px;
}

figcaption{
    font-family: $primaryFont;
    color: purple;
}

aside{
    display: inline-block;
    text-align: center;
    position: fixed;
    top: 670px;
    right: 700px;
    line-height: 50px;
    height: 50px;
    font-family: $primaryFont;
    color: purple;
    text-decoration: none;
    position: fixed;
}

footer{
    float: left;
    position: absolute;
    top: 700px;
    background-color: $dark-background;
    font-family: $primaryFont;
    color: purple;
    text-align: center;
    width: 100%;
    line-height: 50px;
    height: 50px;
}

body{
    background-color: black;
}
